@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    font-size: 1.5em;
}

.banner {
    height: 60vh;
    margin-top: 0;
    background-image: url('../image/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 27vh;
    }
}